html,
body,
#root {
  margin: 0;

  min-height: 100%;

  width: 100%;
}

body {
  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #303030;
}

button,
input,
select {
  font-family: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}